<section data-ng-controller="AboutController" track-page-view="About">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12 meet_container">
                <div class="meet_text">
                    <hr>
                    <h3>ANDELA NETWORK</h3>
                    <hr>
                </div>
            </div>
            <div class="about_us_page">
                <div class="row  about_container">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="side_bar">
                            <div class="side_bar">
                                <div class="link-controls navs_bars">
                                    <ul>
                                        <li><a href="/#!/about_us">ABOUT US</a>
                                        </li>
                                        <li><a href="/#!/meet_the_team">MEET THE TEAM</a>
                                        </li>
                                        <li class="current"><a href="/#!/andela_network">ANDELA NETWORK</a>
                                        </li>
                                        <li><a href="/#!/meet_partners">PARTNERS</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <div class="col-md-12 text_div about_text_div">

                            <h4>Andela Network</h4>
                            <blockquote>
                            </blockquote>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
