<section class="main-banner section_div fellow_banner" track-page-view="Fellowship">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 fellow" style="margin-top:5%;">
                <hr class="top" />
                <h1 id='fellowship_header' class="text-center">THE ANDELA FELLOWSHIP</h1>
                <div class="fellow-lead-in text-center" style="margin: 0 auto;margin-bottom: 23px;margin-top: -8px;">
                    10 times more selective than Harvard
                </div>
                <hr class="top" />
            </div>
            <div class="row">
                <div class="application_button">
                    <button class="btn btn-danger btn-lg white-button" track-button-click="Apply Now Top" go-click-external="https://app.plum.io/posting/lagos_nigeria_andela_fellow_class_vii.html?pos=505">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container application_div">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
                <ul class="application_ul">
                    <li>
                        <div class="date_div">
                            <div class="glyphicon glyphicon-record new_color1"></div>
                            <h5 class='header_fellowship'>FELLOWSHIP</h5>
                        </div>
                        <p>Do you have what it takes to become a world-class developer? If so, consider applying. The Andela Fellowship is a paid opportunity to work with some of the world’s leading technology companies. We are currently accepting applications at our campus in Lagos, Nigeria. To apply, please complete an application
                        </p>
                    </li>
                    <li>
                        <div class="date_div">
                            <span>March 15th</span>
                            <div class="glyphicon glyphicon-record new_color small_glyph_1" style="background-color: white;"></div>
                            <h5>APPLICATION DEADLINE</h5>
                        </div>
                    </li>
                        <p>
                            <b>Interview Dates</b> : March 23rd - March 27th
                        </p>
                        <p>
                            <b>Immersion Training (3 months)</b> : May 4th - July 24th
                        </p>
                        <p>
                            <b>Andela Fellowship</b> : May 4th, 2015 - May 4th, 2019
                        </p>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class=" bootcamp_div">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
                <ul class="application_ul">
                    <li>
                        <div class="date_div">
                            <div class="glyphicon glyphicon-record new_color1 big_glyph_1"></div>
                            <h5 class='bootcamp_header'>BOOT CAMP</h5>
                        </div>
                        <p>A select number of applicants are invited to participate in a free Boot Camp led by senior developers educated at top engineering schools. Andela Boot Camps are some of the most rigorous training experiences in the world. <br/> <b>Bootcamp</b> : April 6th - April 17th<br/>Immersion Training (3 months): May 4th - July 24th
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="fellowship_div">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
                <ul class="fellowship_ul">
                    <li>
                        <div class="date_div">
                            <div class="glyphicon glyphicon-record new_color1 fellowship_target"></div>
                            <h5 class="fellowship_lower_text">THE ANDELA FELLOWSHIP</h5>
                        </div>
                        <p>The Andela Fellowship is a new kind of academic experience. You’ll not only learn how to be a rock-star developer, you’ll also have the chance to work with some of the world’s top tech companies. It’s sort of like university, except instead of paying tuition, you’re earning an income. The initial months of an Andela Fellowship involve immersion training in full-stack development skills. You’ll train at an Andela campus and when you have 1,000 hours of coding experience, you’ll start working as a remote developer for tech companies. During the Fellowship, you’ll work full-time while receiving ongoing professional development to ensure you are equipped to meet the evolving needs of the industry. At the end of your commitment, you’ll have the option to stay with Andela or use your skills, experience, portfolio, and references to open up new opportunities for yourself and your family.

                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="fellowship_div">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
                <ul class="fellowship_ul">
                    <li>
                        <div class="date_div">
                            <div class="glyphicon glyphicon-record new_color1"></div>
                            <h5 class='alumni_text'>THE ANDELA ALUMNI NETWORK</h5>
                        </div>
                        <p>Today’s Andela Fellows will be tomorrow’s entrepreneurs and business leaders developing the technologies and starting the companies that will change our world. Upon becoming an Andela Fellow, you’ll gain access to this elite global network of developers and leaders who can help you advance your career.

                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="application_button">
                <button class="btn btn-danger btn-lg white-button" track-button-click="Apply Now Bottom" go-click-external="https://app.plum.io/posting/lagos_nigeria_andela_fellow_class_vii.html?pos=505">Apply Now</button>
            </div>
        </div>
    </div>
</section>
