<section>
    <div class="new_container articles">
        <div class="col-md-12">
            <div class="col-md-12 services">
                <div class="meet_text">
                    <hr>
                    <h3>Press</h3>
                    <hr>
                </div>
            </div>
            <div class="container">
                <div class="article-text press-text col-md-8 col-md-offset-2">
                    <div>
                        <p>Andela is a global talent accelerator that produces world-class developers and connects them with top employers.
                        </p>
                    </div>
                    <div>
                        <p>Andela's educational arm, The Andela Institute, is one of the most selective academic experiences in the world, with an acceptance rate below 1%. Andela Fellows, some of the brightest young people in Africa, undergo an intensive training experience with cutting-edge education technology designed to give them the skills and experience needed to thrive as full-time, remote developers for companies around the world. Andela is backed by the founders of companies like Facebook, Ebay, and AOL and has offices in North America and Africa.</p>
                    </div>
                    <div>
                        <p>For all media inquiries, please <a href="mailto:mia@andela.co">contact</a> Mia Lui, Director, Operational Planning.</p>
                    </div>
                    <div>
                        <p>To read coverage of Andela Institute, visit our <a href="/#!/in-the-news">In the News page.</a>
                        </p>
                    </div>
                    <br>
                    <br>
                    <div>
                        <h6>press releases and announcements</h6>
                        <div class="articles">
                            <ul>
                                <li>
                                    <span> <a ng-href="https://blog.generalassemb.ly/general-assembly-and-andela-institute/#more-980197075"> general assembly provides web development curriculum for andela institute</a>
                                    </span>
                                    <span>- Nov. 6, 2014</span>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
