<section class="main-banner section_div what_we_do-banner">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 services">
				<hr/><h3>services</h3><hr/>
			</div>
		</div>
	</div>
</section>
<section class="what_we_do-description section_div">
	<div class="container">
		<div class="row what_we_do-details">
			<div class="col-md-8 col-md-offset-2">
				<p>We match world class developers with your team to give the skill you need and to expand your capacity and gain an edge and solve your toughest web development and technology problems</p>
			</div>
		</div>
		<div class="row">
			<div  class="col-md-4 col-md-offset-2">
				<div class="what_we_do-box">
					<div class="circle">1</div>
					<img src="/static/code-orange-icon.png">
	   				<h3>Assess your technology needs</h3>
	   				<p>We should a call to get a clear sense of your team, goals, and needs
	   				</p>
				</div>				
			</div>
			<div class="col-md-4">
				<div class="what_we_do-box">
					<div class="circle">2</div>
					<img src="/static/match-icon.png">
	   				<h3>Assess your technology needs</h3>
	   				<p>We should a call to get a clear sense of your team, goals, and needs</p>
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<div class="what_we_do-box">
					<div class="circle">3</div>
					<img src="/static/shield-icon.png">
	   				<h3>Assess your technology needs</h3>
	   				<p>We should a call to get a clear sense of your team, goals, and needs</p>
				</div>				
			</div>
			<div class="col-md-4">
				<div class="what_we_do-box">
					<div class="circle">4</div>
					<img src="/static/world-icon.png">
	   				<h3>Assess your technology needs</h3>
	   				<p>We should a call to get a clear sense of your team, goals, and needs</p>
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="cta">
				<button class="btn btn-primary">GET STARTED</button>
			</div>
		</div> 
	</div>
</section>
<section class="full-stack section_div">
	<div class="container">
		<div class="row full-stack-details">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="inverse">Mean Stack</h3><hr class="inverse-border"/>
				<p class="inverse">Today, companies around the world are facing a shortage of quality technical talent trained in the technologies and best practices oftomorrow Internet. Andela offers full stack developers who specialize in the MEAN stack (Mongo.db, Express, Angular, and Node.js).</p>
			</div>
		</div>
		<div class="course-details">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="full-left-column">
						<div class="contents">
							<h1 class="inverse">MONGO DB</h1>
							<p class="inverse">The leading database for empow- Express is a flexible framework bring businesses to be more for building the backend ofweb agile and scalable to hundreds of applications millions of users.</p>
						</div>
					</div>
					<div class="full-right-column">
						<div class="contents">
							<h1 class="inverse">EXPRESS</h1>
							<p class="inverse">The leading database for empow- Express is a flexible framework bring businesses to be more for building the backend ofweb agile and scalable to hundreds of applications millions of users.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="full-left-column">
						<div class="contents">
							<h1 class="inverse">MONGO DB</h1>
							<p class="inverse">The leading database for empow- Express is a flexible framework bring businesses to be more for building the backend ofweb agile and scalable to hundreds of applications millions of users.</p>
						</div>
					</div>
					<div class="full-right-column">
						<div class="contents">
							<h1 class="inverse">EXPRESS</h1>
							<p class="inverse">The leading database for empow- Express is a flexible framework bring businesses to be more for building the backend ofweb agile and scalable to hundreds of applications millions of users.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="choose-andela section_div">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="left-bar">
					<h4>When you Choose Andela</h4>
					<p>You are guaranteed</p>

					<ul class="andela-developer">
						<li>
							<div class="pointer-arrow">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
							<h5>A developer Working 40-hours per week on your team</h5>
						</li>

						<li>
							<div class="pointer-arrow">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
							<h5>Full stack skill to meet your front-end and back-end need</5>
						</li>
						<li>
							<div class="pointer-arrow">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
							<h5>Timely response during your business hours</h5>
						</li>

						<li>
							<div class="pointer-arrow">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
							<h5>Built-in professional development so our developers possesses the skill you need</h5>
						</li>
						<li>
							<div class="pointer-arrow">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
							<h5>Native-Engllish speaker</h5>
						</li>

						<li>
							<div class="pointer-arrow">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
							<h5>Problem solving abilities ranking in at least 95th percentile worldwide</h5>
						</li>
						<li>
							<div class="pointer-arrow">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
							<h5>At least 1000 hours of training</h5>
						</li>
						<li>
							<div class="pointer-arrow">
								<div class="top"></div>
								<div class="bottom"></div>
							</div>
							<h5>Weekly code review by senior developer</h5>
						</li>
					</ul>

					<div class="cta">
						<button class="btn btn-primary">FIND A DEVELOPER</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
