<section data-ng-controller="HeaderController">
	
	<nav class="navbar navbar-default" role="navigation" scroll id="nav" ng-class="{nav_stick:boolChangeClass}">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" data-ng-click="toggleCollapsibleMenu()">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="static/Logo.png"></a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse navbar-right" collapse="!isCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li ui-route="/about_us" ng-class="{active: $uiRoute}">
						<a href="/about_us">ABOUT</a>
					</li>
					<li ui-route="/our_services" ng-class="{active: $uiRoute}" ng-show="">
						<a href="/our_services">SERVICES</a>
					</li>
					<li ui-route="/whatwedo" ng-class="{active: $uiRoute}">
						<a href="/whatwedo">WHAT WE DO</a>
					</li>
					<li ui-route="/fellowship" ng-class="{active: $uiRoute}">
						<a href="/#!/fellowship">FELLOWSHIP</a>
					</li>
					<!-- <li ui-route="/media" ng-class="{active: $uiRoute}">
						<a href="/#!/media">MEDIA</a>
					</li> -->
					<li>
						<a  href="tel:(888) 472-5913"><span class="flaticon-uniE501"></span><span class="number">(888) 472-5913<span></span></a>
					</li>
					<li ui-route="/hire_developer" ng-class="{active: $uiRoute}" id="hire" track-button-click="Find A Developer Header">
						<a class="hire" href="/#!/hire_developer">FIND A DEVELOPER</a>
					</li>
				</ul>
			</div>
	</nav>
</section>