<section data-ng-controller="InTheNewsController">
    <div class="new_container articles">
        <div class="col-md-12">
            <div class="col-md-12 services">
                <div class="meet_text">
                    <hr>
                    <h3>MEDIA</h3>
                    <hr>
                </div>
            </div>
            <div class="container">
                <div class="row article-links">
                    <div class="col-md-6 col-md-offset-1">
                        <h4>Latest Articles</h4>
                        <div id="{{'LA' + $index}}" data-ng-repeat="article in latestArticles | orderBy:'-id'">
                            <div class="article-text">
                                <p>{{article.summaryHeader}}:
                                    <span> <a ng-href="{{article.linkHref}}">{{article.linkBody}}</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <br>
                        <br>

                        <div>
                            <h4>{{message}} Notable Articles</h4>

                            <div id="{{'NA' +$index}}" class="" data-ng-repeat="article in notableArticles">
                                <div class="article-text">
                                    <p>{{article.summaryHeader}}.</p>
                                    <ul>
                                        <li>
                                            <span><a ng-href="{{article.linkHref}}">{{article.linkBody}}</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div>
                            <h4>Additional Links</h4>
                            <div id="{{'AL' +$index}}" class="" data-ng-repeat="link in additionalLinks| limitTo:10">
                                <div class="article-text">
                                    <p class="article-text">{{link.summaryHeader}}:
                                        <span><a ng-href="{{link.linkHref}}">{{link.linkBody}}</a> 
                                        </span>
                                    </p>
                                </div>
                                <br>
                            </div>
                            <div ng-hide="showMore"><a ng-click="showMore=!showMore" class="btn btn-primary" style="background: #ec6c5d; border: none;">Load More Articles</a>
                            </div>
                            <div ng-if="showMore">
                                <div id="{{$index}}" class="" data-ng-repeat="link in additionalLinks | limitTo:10-additionalLinks.length">
                                    <div class="article-text">
                                        <p class="article-text">{{link.summaryHeader}}:
                                            <span><a ng-href="{{link.linkHref}}">{{link.linkBody}}</a> 
                                            </span>
                                        </p>
                                    </div>
                                    <br>
                                </div>
                                <a ng-click="showLess()" class="btn btn-primary" style="background: #ec6c5d; border: none;">Hide Articles</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 tweets">

                        <div data-ng-init="twitterFeeds()" stick>
                            <a class="twitter-timeline" href="https://twitter.com/ThisIsAndela" data-widget-id="532083550544080896">
                                <img src="static/loaders/new_twitterbird.gif" class="loader">
                            </a>

                        </div>

                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</section>
