<section class="main-banner section_div what_we_do-banner" data-ng-controller="WhatWeDoController" track-page-view="What We Do">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 services">
                <hr/>
                <h3>What We Do</h3>
                <hr/>
            </div>
        </div>
    </div>
</section>
<section class="what_we_do-description section_div">
    <div class="container">
        <div class="row what_we_do-details">
            <div class="col-md-8 col-md-offset-2">
                <div id="text">
                    <p>We find the brightest young people in Africa, train them to be world-class developers, and connect them with employers around the world looking for top technical talent.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6">
                <div class="what_we_do-box">
                    <div class="circle">1</div>
                    <img src="/modules/core/img/code-orange-icon.png">
                    <h3>Assess your technology needs</h3>
                    <p id='what_we_do_text'>Drill down to understand what you’re trying to accomplish and the technical support you need to get there.
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="what_we_do-box">
                    <div class="circle">2</div>
                    <img src="/modules/core/img/match-icon.png">
                    <h3>Find an Andela developer that fits your criteria</h3>
                    <p id='what_we_do_text' class='more_padding'>Match your technical needs with the Andela developer best equipped to get the job done.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6">
                <div class="what_we_do-box">
                    <div class="circle">3</div>
                    <img src="/modules/core/img/shield-icon.png">
                    <h3>On-board and integrate</h3>
                    <p id='what_we_do_text'>When you integrate an Andela developer into your team, you won’t just get a brilliant coder – you’ll get a thought partner.
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="what_we_do-box">
                    <div class="circle">4</div>
                    <img src="/modules/core/img/world-icon.png">
                    <h3>Gain a competitive edge
                    </h3>
                    <p id='what_we_do_text'>Some of the world’s largest tech companies rely on Andela to access top talent. You can, too.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cta">
                <button class="btn btn-primary" go-click="/hire_developer" track-button-click="Get Started">GET STARTED</button>
            </div>
        </div>
    </div>
</section>
<section class="full-stack section_div">
    <div class="container">
        <div class="row full-stack-details">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="inverse">FULL STACK DEVELOPERS</h2>
                <hr class="inverse-border" />
                <p class="inverse">Andela developers are experienced in a variety of languages but specialize in the MEAN stack (Mongo, Express, Angular, and Node), a combination of front-end and back-end technologies that allow an individual developer to build scalable web and mobile apps.
                </p>
            </div>
        </div>
        <div class="course-details">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="full-left-column">
                        <div class="contents">
                            <h1 class="inverse">MONGO.db</h1>
                            <p class="inverse" id='mean_def'>The leading database for empowering businesses to be more agile and scalable to hundreds of millions of users.
                            </p>
                        </div>
                    </div>
                    <div class="full-right-column">
                        <div class="contents">
                            <h1 class="inverse">EXPRESS</h1>
                            <p class="inverse" id='mean_def'>Express is a flexible node framework for building the back-end of web applications
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="full-left-column">
                        <div class="contents">
                            <h1 class="inverse">ANGULAR JS</h1>
                            <p class="inverse" id='mean_def'>AngularJS is a framework for building dynamic web interfaces</p>
                        </div>
                    </div>
                    <div class="full-right-column">
                        <div class="contents">
                            <h1 class="inverse">Node.js</h1>
                            <p class="inverse" id='mean_def'>Node.js is a platform for building high-performance, scalable web and mobile applications
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="choose-andela section_div">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="left-bar">
                    <h4>Every Andela developer</h4>

                    <ul class="andela-developer">
                        <li>
                            <div>
                                <div class="pointer-arrow">
                                    <div class="top"></div>
                                    <div class="bottom"></div>
                                </div>
                                <h5>Has at least 1,000 hours of coding experience</h5>
                            </div>
                        </li>

                        <li>
                            <div>
                                <div class="pointer-arrow">
                                    <div class="top"></div>
                                    <div class="bottom"></div>
                                </div>
                                <h5>Ranks in at least the 95th percentile in problem-solving abilities</h5>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="pointer-arrow">
                                    <div class="top"></div>
                                    <div class="bottom"></div>
                                </div>
                                <h5>Is a full-time, exclusive member of your tech team</h5>
                            </div>
                        </li>

                        <li>
                            <div>
                                <div class="pointer-arrow">
                                    <div class="top"></div>
                                    <div class="bottom"></div>
                                </div>
                                <h5>Responds in a timely manner during your business hours
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="pointer-arrow">
                                    <div class="top"></div>
                                    <div class="bottom"></div>
                                </div>
                                <h5>Receives ongoing professional development to sharpen their skills
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="pointer-arrow">
                                    <div class="top"></div>
                                    <div class="bottom"></div>
                                </div>
                                <h5>Receives weekly code review by Andela's senior developers on staff</h5>
                            </div>
                        </li>

                    </ul>


                    <div class="cta cta-bottom">
                        <div class='half_cost'>Oh, and did we mention an Andela developer is roughly half the cost of comparable developers elsewhere?</div>
                        <button class="btn btn-primary" go-click="/hire_developer" track-button-click="Find a Developer">FIND A DEVELOPER</button>
                        <div class='try_andela'>Try Andela
                            <strong>risk-free.</strong>If you’re not satisfied after 30 days, you don’t pay. Period.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
